In [68]:
import pandas as pd

titanic = pd.read_csv("data/titanic.csv")

third_class = titanic[titanic["Pclass"] == 3]

second_class = titanic[titanic["Pclass"] == 2]

first_class = titanic[titanic["Pclass"] == 1]

total_third_class = int(third_class.count().PassengerId)
dead_third_class = third_class[third_class["Survived"] == 0].count().PassengerId


total_second_class = int(second_class.count().PassengerId)
dead_second_class = second_class[second_class["Survived"] == 0].count().PassengerId

total_first_class = int(first_class.count().PassengerId)
dead_first_class = first_class[first_class["Survived"] == 0].count().PassengerId

percentage_dead_third_class = (dead_third_class / total_third_class) * 100
percentage_dead_second_class = (dead_second_class / total_second_class) * 100
percentage_dead_first_class = (dead_first_class / total_first_class) * 100

print("Total de pessoas da terceira classe:", total_third_class)
print("Total de pessoas da terceira classe mortas:", dead_third_class)
print("Porcentagem de mortos na terceira classe: {:.2f}%".format(percentage_dead_third_class))
print('-------------------------------------------------------------------')
print("Total de pessoas da segunda classe:", total_second_class)
print("Total de pessoas da segunda classe mortas:", dead_second_class)
print("Porcentagem de mortos na segunda classe: {:.2f}%".format(percentage_dead_second_class))
print('-------------------------------------------------------------------')
print("Total de pessoas da primeira classe:", total_first_class)
print("Total de pessoas da primeira classe mortas:", dead_first_class)
print("Porcentagem de mortos na primeira classe: {:.2f}%".format(percentage_dead_first_class))

Total de pessoas da terceira classe: 491
Total de pessoas da terceira classe mortas: 372
Porcentagem de mortos na terceira classe: 75.76%
-------------------------------------------------------------------
Total de pessoas da segunda classe: 184
Total de pessoas da segunda classe mortas: 97
Porcentagem de mortos na segunda classe: 52.72%
-------------------------------------------------------------------
Total de pessoas da primeira classe: 216
Total de pessoas da primeira classe mortas: 80
Porcentagem de mortos na primeira classe: 37.04%

In [124]:
import pandas as pd

titanic = pd.read_csv("data/titanic.csv")

third_class = titanic[titanic["Pclass"] == 3]

second_class = titanic[titanic["Pclass"] == 2]

first_class = titanic[titanic["Pclass"] == 1]


survived_third_class = third_class[third_class["Survived"] == 1]
male_survived_third_class = survived_third_class[survived_third_class["Sex"] == "male"]

survived_second_class = second_class[second_class["Survived"] == 1]
male_survived_second_class = survived_second_class[survived_second_class["Sex"] == "male"]

survived_first_class = first_class[first_class["Survived"] == 1]
male_survived_first_class = survived_first_class[survived_first_class["Sex"] == "male"]

total_third_class = third_class.count().PassengerId
total_second_class = second_class.count().PassengerId
total_first_class = first_class.count().PassengerId

percentage_third_class = (male_survived_third_class.count().PassengerId / total_third_class) * 100
percentage_second_class = (male_survived_second_class.count().PassengerId / total_second_class) * 100
percentage_first_class = (male_survived_first_class.count().PassengerId / total_first_class) * 100


print(f"{percentage_third_class}")
print(f"{percentage_second_class}")
print(f"{percentage_first_class}")

9.572301425661914
9.239130434782608
20.833333333333336

In [125]:
import pandas as pd

titanic = pd.read_csv("data/titanic.csv")

third_class = titanic[titanic["Pclass"] == 3]

second_class = titanic[titanic["Pclass"] == 2]

first_class = titanic[titanic["Pclass"] == 1]


survived_third_class = third_class[third_class["Survived"] == 1]
male_survived_third_class = survived_third_class[survived_third_class["Sex"] == "female"]

survived_second_class = second_class[second_class["Survived"] == 1]
male_survived_second_class = survived_second_class[survived_second_class["Sex"] == "female"]

survived_first_class = first_class[first_class["Survived"] == 1]
male_survived_first_class = survived_first_class[survived_first_class["Sex"] == "female"]

total_third_class = third_class.count().PassengerId
total_second_class = second_class.count().PassengerId
total_first_class = first_class.count().PassengerId

percentage_third_class = (male_survived_third_class.count().PassengerId / total_third_class) * 100
percentage_second_class = (male_survived_second_class.count().PassengerId / total_second_class) * 100
percentage_first_class = (male_survived_first_class.count().PassengerId / total_first_class) * 100


print(f"{percentage_third_class}")
print(f"{percentage_second_class}")
print(f"{percentage_first_class}")

14.663951120162933
38.04347826086957
42.129629629629626

In [93]:
import pandas as pd

titanic = pd.read_csv("data/titanic.csv")

males = titanic[titanic["Sex"] == "male"]
total_dead_males = int(males[males["Survived"] == 0].count().PassengerId)

females = titanic[titanic["Sex"] == "female"]
total_dead_females = int(females[females["Survived"] == 0].count().PassengerId)

male_death_percentage = total_dead_males / (total_dead_males + total_dead_females) * 100
female_death_percentage = total_dead_females / (total_dead_males + total_dead_females) * 100

print(f"Total de mortes: {(total_dead_males + total_dead_females)}")
print(f"Porcentagem de mortes de homens: {male_death_percentage:.2f}%")
print(f"Porcentagem de mortes de mulheres: {female_death_percentage:.2f}%")

Total de mortes: 549
Porcentagem de mortes de homens: 85.25%
Porcentagem de mortes de mulheres: 14.75%

In [ ]:
import pandas as pd

titanic = pd.read_csv("data/titanic.csv")

titanic[titanic["Age"] == titanic["Age"].max()]

In [3]:
import pandas as pd

titanic = pd.read_csv("data/titanic.csv")

age_no_na = titanic[titanic["Age"].notna() == False]

age_no_na.head()

(177, 12)

In [5]:
titanic.iloc[0:3, 3] = "anonymous"

titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,anonymous,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,anonymous,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,anonymous,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S