In [68]:
import pandas as pd

titanic = pd.read_csv("data/titanic.csv")

third_class = titanic[titanic["Pclass"] == 3]

second_class = titanic[titanic["Pclass"] == 2]

first_class = titanic[titanic["Pclass"] == 1]

total_third_class = int(third_class.count().PassengerId)
dead_third_class = third_class[third_class["Survived"] == 0].count().PassengerId


total_second_class = int(second_class.count().PassengerId)
dead_second_class = second_class[second_class["Survived"] == 0].count().PassengerId

total_first_class = int(first_class.count().PassengerId)
dead_first_class = first_class[first_class["Survived"] == 0].count().PassengerId

percentage_dead_third_class = (dead_third_class / total_third_class) * 100
percentage_dead_second_class = (dead_second_class / total_second_class) * 100
percentage_dead_first_class = (dead_first_class / total_first_class) * 100

print("Total de pessoas da terceira classe:", total_third_class)
print("Total de pessoas da terceira classe mortas:", dead_third_class)
print("Porcentagem de mortos na terceira classe: {:.2f}%".format(percentage_dead_third_class))
print('-------------------------------------------------------------------')
print("Total de pessoas da segunda classe:", total_second_class)
print("Total de pessoas da segunda classe mortas:", dead_second_class)
print("Porcentagem de mortos na segunda classe: {:.2f}%".format(percentage_dead_second_class))
print('-------------------------------------------------------------------')
print("Total de pessoas da primeira classe:", total_first_class)
print("Total de pessoas da primeira classe mortas:", dead_first_class)
print("Porcentagem de mortos na primeira classe: {:.2f}%".format(percentage_dead_first_class))

Total de pessoas da terceira classe: 491
Total de pessoas da terceira classe mortas: 372
Porcentagem de mortos na terceira classe: 75.76%
-------------------------------------------------------------------
Total de pessoas da segunda classe: 184
Total de pessoas da segunda classe mortas: 97
Porcentagem de mortos na segunda classe: 52.72%
-------------------------------------------------------------------
Total de pessoas da primeira classe: 216
Total de pessoas da primeira classe mortas: 80
Porcentagem de mortos na primeira classe: 37.04%

In [ ]:
import pandas as pd

titanic = pd.read_csv("data/titanic.csv")

third_class = titanic[titanic["Pclass"] == 3]

second_class = titanic[titanic["Pclass"] == 2]

first_class = titanic[titanic["Pclass"] == 1]


survived_third_class = third_class[third_class["Survived"] == 1].Fare.mean()
survived_second_class = second_class[second_class["Survived"] == 1].Fare.mean()
survived_first_class = first_class[first_class["Survived"] == 1].Fare.mean()

print(f"Valor médio de um bilhete na terceira classe: {survived_third_class:.2f}")
print(f"Valor médio de um bilhete na segunda classe: {survived_second_class:.2f}")
print(f"Valor médio de um bilhete na primeira classe: {survived_first_class:.2f}")

In [67]:
import pandas as pd

titanic = pd.read_csv("data/titanic.csv")

titanic.groupby('Cabin')['Name'].sum()

Cabin
A10                                  Ross, Mr. John Hugo
A14                          Clifford, Mr. George Quincy
A16    Duff Gordon, Lady. (Lucille Christiana Sutherl...
A19                           Smith, Mr. Richard William
A20         Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")
                             ...
F33    Nye, Mrs. (Elizabeth Ramell)Brown, Miss Amelia...
F38                                     Tobin, Mr. Roger
F4     Becker, Master Richard FBecker, Miss Marion Lo...
G6     Sandstrom, Miss Marguerite RutStrom, Miss Telm...
T                           Blackwell, Mr. Stephen Weart
Name: Name, Length: 147, dtype: object